.currentChips::before {
	content: "current chips: ";
}

.discardButton::before {
	content: "discard";
}

.raise::before {
	content: "raise";
}

.call::before {
	content: "call";
}

.fold::before {
	content: "fold";
}

li.card[data-label][data-suit]::before {
	content: attr(data-label) " of " attr(data-suit)"s";
}

li.card[data-selected="TRUE"] {
	color:red
}

li.player[data-index][data-name][data-state][data-chips-remaining][data-chips-bet]::before {
	content: "player " attr(data-index) " " attr(data-name) "'s state is " attr(data-state) " and has bet " attr(data-chips-bet) " out of " attr(data-chips-remaining);
}

div.gameOutput {
	display: flex;
	flex-direction: column-reverse;
}