#statHover {
  color: lightgrey;
  font-size: 12px;
  bottom: 50px;
  text-align: right;
  left: 50px;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
}

#popup {
  visibility: hidden;
  position: absolute;
  text-align: center;
  left: 25px;
  bottom: 50px;
  height: 100px;
  width: 120px;
  color: black;
  background-color: beige;
  font-family: 'Open Sans', sans-serif;
}

#statHover:hover #popup {
  visibility: visible;
}

.open-sans-custom-font       { font-family: 'Open Sans', sans-serif; font-weight: 400; }
