.statHover {
  color: white;
  font-size: 12px;
  bottom: 50px;
}

.popup {
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  height: 200px;
  width: 75px;
  background-color: beige;
}

.popup .show {
  visibility: visible;
}
